#sidibar-container{
    margin-top: 60px;
}
.brand {
    color: gray;
}

.price {
    color: gray;
    text-decoration: line-through;
}

.price_box {
    
    /* border: solid; */
    text-align: center;
    margin-top: 10px;
}

.price_box h3 {
    align-content: center;
}

.rating {
    text-align: center;
    display: flex;
   font-weight: bold;
   color: white;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    background-color: green;
}
